<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Mitch Smoot's Portfolio</h1>
    <p class="lead text-muted">This is my portfolio page! I will be adding all of my projects here as I finish them. </p>
    <h2> 8/31/2018 - My portfolio page is currently under construction, It will be finished and ready by 9/3/2018</h2>
    <p>
      <%= link_to 'Find out more about me!', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Check out my blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>