<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Mitch Smoot's Portfolio</h1>
    <p class="lead text-muted">Behold! My greatest creations! More will be added as I finish them.</p>
    <p>
      <%= link_to 'Find out more about me!', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Check out my blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>