<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-5">
        <%= image_tag "IMG_0115.jpg", width: 330, alt: "profile image", class: 'profile-img' %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <h4><%= skill.title %></h4>
            <div class="skill">
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning"
                  role="progress-bar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                >                   
                </div>
              </div>    
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-7">
        <p>My name is Mitch Smoot! Welcome to my website! </p>

        <p>
          I am a student at Bottega Tech hoping to beome the next great web developer! This is the first of many websites that I will be creating. For now, this website will serve as both a portfolio and personal blog, but I plan on continually adding new things to it.
        </p>

        <p>
          When I'm not working on a computer, I try to get out and experience the real world. I love the outdoors, and can often be found going on hikes and road trips around the beautiful state of Utah.
          I'm also a competitive puzzle solver, and can be found at Rubik's cube competitions across the West. 
        </p>

        <p>
          I love science, data, and statistics. Hopefully I'll be able to work with all three in the future. To help with that endeavor, the rest of this page will essentially be my virtual resume.
        </p>

        <p>
          <button 
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="jobHistory"
          >
            Job History
          </button>

          <button 
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <h3>Signtech</h3>
              <h4><i>Sign Maker</i></h4>
              <h4>September 2017 - May 2018</h4>
              <p>
                Made signs, banners, decalls, and installed them.
              </p>
            </div>
            <div class="card card-block">
              <h3>ARUP Laboratories</h3>
              <h4><i>Technician I, Hematologic Flow Cytometry</i></h4>
              <h4>March 2016 - May 2017</h4>
              <p>
                Specimen handling, data entry/verification, equipment calibration
              </p>
            </div>
            <div class="card card-block">
              <h3>City of Holladay</h3>
              <h4><i>Park maintenance</i></h4>
              <h4>May 2014 - Aug 2014</h4>
              <p>
                Fixed sprinklers, gardening/weeding, lawn mowing, general labor
              </p>
            </div>
          </div>
        </p>

        <p>
          <div class="collapse" id="education">
            <div class="card card-block">
              <h3>Bottega Tech, Lehi, UT</h3>
              <p>Full-stack Web Deveolpment</p>
            </div>
            <div class="card card-block">
              <h3>University of Utah</h3>
              <p>3 semesters, focused on biology</p>
            </div>
            <div class="card card-block">
              <h3>Snow College</h3>
              <p>Associates of Science Degree</p>
            </div>
          </div>
        </p>

      </div>
    </div>
  </div>

</div>




