<div class="app-card-container">
  <div class="card">
    <h1>How to Contact Me:</h1>

    <hr>

    <div class="row">

      <div class="col-md-6">

        <h3>Phone: 801-413-9135</h3>

        <h3>Email: mitchsmoot@gmail.com</h3>

        <h3><a href="mailto:mitchsmoot@gmail.com?subject=PortfolioContact">Email Me</a></h3>

      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3158.211498258029!2d-113.08114358454223!3d37.66773782608308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80b561ecab684657%3A0x9358f94bd8963c53!2s519+S+1275+W%2C+Cedar+City%2C+UT+84720!5e0!3m2!1sen!2sus!4v1498085578744" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

