<div class="inner cover">
  <h1 class="cover-heading">Mitch's super duper cool and amazingly epic and cool awesomely amazing portfolio website of greatness</h1>
  <p class="lead">I'm kind of a big deal, so you should hire me.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
