<div class="inner cover">
  <h1 class="cover-heading">Mitch's blog and portfolio website</h1>
  <p class="lead">I'm kind of a big deal, so you should hire me.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
