<div class="inner cover">
  <h1 class="cover-heading">Mitch's blog and portfolio website</h1>
  <p class="lead">Welcome! Check out my portfolio <b><%= link_to "here", portfolios_path %></b></p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
