<div class="inner cover">
  <div id="demonstrations-intro">
    <p>
      On this page I'll be adding "demonstrations" for all of the other web development skills I learn that isnt used elsewhere on the website or on any of my other portfolio items. It's mainly so I can have a place to check if I need a refresher on how to build any of these features. But I figured I'd display this page publicly so any prospective employers can see what else I can do.
    </p>
  </div>

  <hr>

  <div>
    <h2 class="cover-heading">NASA news via Twilio</h2>    
    <p>Here I've made use of the Twilio API to display recent NASA-related tweets.</p>

    <div class="row">
      <% @tweets.each do |tweet| %>
        <div class="col-md-6">
          <div class="tech-news">
            <div class="card">
              <%= twitter_parser tweet %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <hr>

  <div>
    <h2 class="cover-heading">Embedded Google Maps</h2>
    <p>A map leading to Delicate Arch</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49780.58990230943!2d-109.60974829647576!3d38.75712389487239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8747d938cf33f955%3A0xe3ffe00a6ac93f10!2sDelicate+Arch!5e0!3m2!1sen!2sus!4v1535661026900" width="800" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <div id="demonstrations-footer">
    
  </div>

</div>


